<!-- Hero Start -->
<section class="bg-half bg-light d-table w-100" id="home">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <div class="page-next-level">
          <h4 class="title"> 第九分會簡介 </h4>
          <div class="page-next">
            <nav aria-label="breadcrumb" class="d-inline-block">
              <ul class="breadcrumb bg-white rounded shadow mb-0">
                <li class="breadcrumb-item"><a routerLink="">首頁</a></li>
                <li class="breadcrumb-item active" aria-current="page">分會簡介</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<div class="position-relative">
  <div class="shape overflow-hidden text-white">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
    </svg>
  </div>
</div>
<!-- Hero End -->

<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="main-icon rounded-pill text-primary text-center mt-4 pt-2">
          <i-feather name="star" class="fea icon-md-sm"></i-feather>
        </div>
        <div class="timeline-page pt-2 position-relative">
          <div class="timeline-item mt-4">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="duration date-label-left border rounded p-2 px-4 position-relative shadow">~80/07/29</div>
              </div>
              <!--end col-->
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card event event-description-right rounded shadow border-0 overflow-hidden float-left">
                  <div class="card-body">
                    <h5 class="mb-0 text-capitalize">台中發電廠初創期間</h5>
                    <p class="mt-3 mb-0 text-muted">電廠初創期間，所有工會業務均於27支部(分會)下辦理；直至民國80年7月29日，因電廠組織日益擴充，其會員人數隨之增加，使得27支部(分會)業務遽增，當時即由台中發電廠發文台灣電力工會總會，建議成立所屬支部(分會)。</p>
                  </div>
                </div>
              </div>
              <!--end col-->
            </div>
            <!--end row-->
          </div>
          <!--end timeline item-->

          <div class="timeline-item mt-4">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 order-sm-1 order-2">
                <div class="card event event-description-left rounded shadow border-0 overflow-hidden float-left">
                  <div class="card-body">
                    <h5 class="mb-0 text-capitalize">第九支部(分會)籌備成立</h5>
                    <p class="mt-3 mb-0 text-muted">台灣電力工作總會依80.07.29中發人字第8007-0184號函暨第六屆第三次臨時理事會決議，以台中發電廠為組織範圍，辦理第九支部(分會)籌備成立。同時辦行政院勞工委員會核備。</p>
                  </div>
                </div>
              </div>
              <!--end col-->
              <div class="col-lg-6 col-md-6 col-sm-6 order-sm-2 order-1">
                <div class="duration duration-right rounded border p-2 px-4 position-relative shadow text-left">88/08/28
                </div>
              </div>
              <!--end col-->
            </div>
            <!--end row-->
          </div>
          <!--end timeline item-->

          <div class="timeline-item mt-4">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="duration date-label-left border rounded p-2 px-4 position-relative shadow">80/09/26</div>
              </div>
              <!--end col-->
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card event event-description-right rounded shadow border-0 overflow-hidden float-left">
                  <div class="card-body">
                    <h5 class="mb-0 text-capitalize">正式成立第九分會</h5>
                    <p class="mt-3 mb-0 text-muted">於民國80年9月26日正式成立本分會，並於同年10月17日依據台灣電力工會支部幹部選舉辦法，選舉第一屆幹事(七人)，選舉完成後於10月22日由台灣電力工會總會發文致各分會。初創時共設18小組；會員417人(男:407/女:10)</p>
                  </div>
                </div>
              </div>
              <!--end col-->
            </div>
            <!--end row-->
          </div>
          <!--end timeline item-->

          <div class="timeline-item mt-4">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 order-sm-1 order-2">
                <div class="card event event-description-left rounded shadow border-0 overflow-hidden float-left">
                  <div class="card-body">
                    <h5 class="mb-0 text-capitalize">分會組織整併</h5>
                    <p class="mt-3 mb-0 text-muted">配合台灣電力公司所屬台中發電廠與台中燃煤儲運場之合併，於多次會議後將原第六十五分會(台中燃煤儲運場)與第九分會(台中發電廠)整併，並以第九分會為整併後分會。</p>
                  </div>
                </div>
              </div>
              <!--end col-->
              <div class="col-lg-6 col-md-6 col-sm-6 order-sm-2 order-1">
                <div class="duration duration-right rounded border p-2 px-4 position-relative shadow text-left">89/07/01
                </div>
              </div>
              <!--end col-->
            </div>
            <!--end row-->
          </div>
          <!--end timeline item-->

          <div class="timeline-item mt-4">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="duration date-label-left border rounded p-2 px-4 position-relative shadow">92/11/28</div>
              </div>
              <!--end col-->
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card event event-description-right rounded shadow border-0 overflow-hidden float-left">
                  <img src="assets/images/tplu9/intro/taichung_labor_union_logo.jpg"  alt="">
                  <div class="card-body">
                    <h5 class="mb-0 text-capitalize">申請加入台中直轄市總工會</h5>
                    <p class="mt-3 mb-0 text-muted">分會為因應社會結構調整，厚植分會基礎力量，並連結縱向與橫向資訊交流及周邊資源，經過第十一屆第二次幹事會會議提案討論通過後，謹於民國92年11月28日申請加入台中縣總工會(目前因應台中縣/市合併，台中縣總工會更名為台中直轄市總工會)。</p>
                  </div>
                </div>
              </div>
              <!--end col-->
            </div>
            <!--end row-->
          </div>
          <!--end timeline item-->

          <div class="timeline-item mt-4">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 order-sm-1 order-2">
                <div class="card event event-description-left rounded shadow border-0 overflow-hidden float-left">
                  <div class="card-body">
                    <h5 class="mb-0 text-capitalize">更名理事會</h5>
                    <p class="mt-3 mb-0 text-muted">本分會配合台灣電力工會第十屆代表大會決議，幹事會改名為理事會，第一屆理事會於民國95年8月1日開始運作，任期至97年12月31日，共2.5年，往後每屆理事會任期為2年。目前分會設置常務理事、組訓理事、福利理事、財務理事、文宣理事、勞資理事、工安理事、總務理事、研發理事、秘書、助理秘書。</p>
                  </div>
                </div>
              </div>
              <!--end col-->
              <div class="col-lg-6 col-md-6 col-sm-6 order-sm-2 order-1">
                <div class="duration duration-right rounded border p-2 px-4 position-relative shadow text-left">95/08/01
                </div>
              </div>
              <!--end col-->
            </div>
            <!--end row-->
          </div>
          <!--end timeline item-->
          <div class="timeline-item mt-4">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="duration date-label-left border rounded p-2 px-4 position-relative shadow">98/08</div>
              </div>
              <!--end col-->
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card event event-description-right rounded shadow border-0 overflow-hidden float-left">
                  <img src="assets/images/tplu9/intro/taichung_industry_union_logo.jpg" class="img-fluid"  alt="">
                  <div class="card-body">
                    <h5 class="mb-0 text-capitalize">申請加入台中市產業總工會</h5>
                    <p class="mt-3 mb-0 text-muted">本分會因應時代潮流，擴展中部地區友會之情誼，並加強資訊交流及周邊資源，經過第一屆理事會會議提案討論通過後，謹於民國98年8月加入台中市產業總工會。</p>
                  </div>
                </div>
              </div>
              <!--end col-->
            </div>
            <!--end row-->
          </div>
          <!--end timeline item-->
        </div>
        <!--end timeline page-->
        <!-- TIMELINE END -->
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
</section>


<!-- Back to top -->
<a href="javascript: void(0);" class="btn btn-icon btn-soft-primary back-to-top" id="back-to-top"
  [ngxScrollTo]="'#home'">
  <i-feather name="arrow-up" class="icons"></i-feather>
</a>
<!-- Back to top -->
