 <!-- Footer Start -->
 <footer class="footer" id="contact">
   <div class="container">
     <div class="row">
       <div class="col-lg-4 col-12 mb-0 mb-md-4 pb-0 pb-md-2">
         <h4 class="text-light footer-head">台灣電力工會第九分會</h4>
         <ul class="list-unstyled footer-list mt-4">
          <li>
            <i-feather name="phone"></i-feather> (04)2630-2123
          </li>
          <li>
            <i-feather name="map-pin"></i-feather> 台中市龍井區龍昌路1號
          </li>
         </ul>
       </div>
       <!--end col-->

       <div class="col-lg-2 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
         <h4 class="text-light footer-head">網站導覽</h4>
         <ul class="list-unstyled footer-list mt-4">
           <li><a routerLink="page-aboutus" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> 關於分會</a>
           </li>
           <li><a routerLink="page-services" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> 會務訊息</a>
           </li>
           <li><a routerLink="page-team" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> 表單下載</a></li>
         
           
         </ul>
       </div>
       <!--end col-->

       <div class="col-lg-3 col-md-4 col-12 mt-4 mt-sm-0 pt-2 pt-sm-0">
         <h4 class="text-light footer-head">常用連結</h4>
         <ul class="list-unstyled footer-list mt-4">
          <li><a href="https://tplu.org.tw/" target="_blank" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> 台灣電力工會(總會)</a> 
            <li><a href="https://tpcwelfare.com/" target="_blank" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> 台電職工福利會</a> 
          <li><a href="#" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i> 台電內部企業網站(單一登入)</a>
           </li>
           <li><a href="https://cloudmail.taipower.com.tw/" target="_blank" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i>
               台電雲端信箱</a>
           </li>
           
         </ul>
       </div>
       <!--end col-->

       
     </div>
     <!--end row-->
   </div>
   <!--end container-->
 </footer>
 <!--end footer-->
 <footer class="footer footer-bar">
   <div class="container text-center">
     <div class="row align-items-center">
       <div class="col-sm-12">
         <div class="text-sm-center">
           <p class="mb-0">© 2021 台灣電力工會第九分會</p>
         </div>
       </div>
       <!--end col-->

      
     </div>
     <!--end row-->
   </div>
   <!--end container-->
 </footer>
 <!--end footer-->
 <!-- Footer End -->
